@import url("https://fonts.googleapis.com/css2?family=Alata&family=Bai+Jamjuree:wght@300;400;500;600;700;800;900&family=Nunito+Sans:wght@300;400;700&display=swap");

$ff-logo: "Alata", sans-serif;
$ff-heading: "Nunito Sans", sans-serif;
$ff-paragraph: "Bai Jamjuree", sans-serif;

$fs-900: 9.375rem;
$fs-800: 6.25rem;
$fs-700: 3.5rem;
$fs-650: 3rem;
$fs-600: 2rem;
$fs-500: 1.75rem;
$fs-450: 1.5rem;
$fs-400: 1.125rem;
$fs-300: 1rem;
$fs-200: 0.875rem;

$letter-spacing-1: 4.75px;
$letter-spacing-2: 2.7px;
$letter-spacing-3: 2.35px;

$orange: #f48847;
$active-orange: #ec9b3b;
$black: #000;
$light-grey: rgb(189, 189, 189);
$greenish: #40bfc1;
$white: #fff;

@mixin flex {
  display: flex;
  gap: var(--gap, 2rem);
}

@mixin grid {
  display: grid;
  gap: var(--gap, 1rem);
}

@mixin grid-container {
  display: grid;
  grid-template-columns: 2em minmax(0, 40rem) minmax(0, 40rem) 2em;
}

@mixin container {
  padding: 2em;
  max-width: 80rem;
  margin: 0 auto;
}

@mixin content-wrapper {
  padding: 0 1.5em;
  margin: 0 auto;
}

@mixin nav-wrapper {
  padding: 0.5em;
  margin: 0 auto;
}

// resets //

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  min-height: 100%;
}

h1,
h2,
h3,
h4,
p,
figure,
picture {
  margin: 0;
}

a {
  text-decoration: none;
  color: $white;
}

ul,
li {
  list-style: none;
  text-decoration: none;
  li:hover {
    color: $active-orange;
    transition: 150ms;
    transition-timing-function: ease;
  }
}

.cta button:hover,
a.btn:hover {
  background-color: #f24c4c;
  cursor: pointer;
  transition: 900ms;
  transition-timing-function: ease-in;
}

img,
picture {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}
// ------ //

// Utility classes

.text-black {
  color: $black;
}

.text-orange {
  color: $orange;
}

.text-white {
  color: $white;
}

.fs-800 {
  font-size: $fs-800;
}

.fs-700 {
  font-size: $fs-700;
}

.fs-600 {
  font-size: $fs-600;
}

.fs-500 {
  font-size: $fs-500;
}

.fs-400 {
  font-size: $fs-400;
}

.fs-300 {
  font-size: $fs-300;
}

.fs-200 {
  font-size: $fs-200;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}

.line-through {
  text-decoration: line-through;
}

.underline {
  text-decoration: underline;
}

.letter-spacing-1 {
  letter-spacing: 4.75px;
}
.letter-spacing-2 {
  letter-spacing: 3.75px;
}
.letter-spacing-3 {
  letter-spacing: 2px;
}

.no-wrap {
  white-space: nowrap;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.uppercase {
  text-transform: uppercase;
}

.flex {
  @include flex();
}

// ===== //

body {
  font-family: $ff-paragraph;
  line-height: 1.6;
  min-height: 100vh;
}

.home_bg {
  background-image: url(/images/ctabg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
}

.mob_menu {
  display: flex;
  @include container();
  justify-content: space-between;
}

.desk_menu {
  display: none;
}

.logo {
  color: $white;
  font-size: $fs-500;
  font-weight: 600;
}

.overlay {
  height: 100%;
  position: fixed;
  overflow-x: hidden;
  left: 0;
  top: 0;
  width: 0;
  z-index: 1;
  transition: 0.5s;
  .overlay-content {
    position: relative;
    top: 10%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
}

.overlay a {
  display: block;
  transition: 0.3s;
  text-decoration: none;
  color: $black;
  font-size: $fs-500;
  font-weight: 600;
  padding: 0.2em;
}

.closebtn {
  position: absolute;
  top: 20px;
  left: 10px;
}

.cart {
  position: absolute;
  top: 35px;
  right: 20px;
}

.page-section {
  display: flex;
  min-height: 35vh;
  align-items: center;
  h1.hero {
    text-align: center;
    font-size: $fs-450;
    max-width: 80%;
    margin: 0 auto;
  }
}

main {
  text-align: center;

  .small_gallery {
    @include content-wrapper();
  }

  .featured {
    padding: 2.8em;
  }

  .btn {
    color: $white;
    background-color: #f48847;
    display: block;
    width: 130px;
    margin: 3em auto 7em;
    padding: 1em 2em;
    font-weight: 600;
  }

  .collection-bg {
    background-image: url(/images/product-country-feast-set-15deg-4x3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;
    padding: 1em;
  }
  .pairs-bg {
    background-image: url(/images/2015-08-12_home-goods-0052-v2-FINAL.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;
    padding: 1em;
  }

  .plate-bg {
    background-image: url(/images/pexels-karolina-grabowska-4226876.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;
    padding: 1em;
  }
  .classic-bg {
    background-image: url(/images/product-milk-dip-cup-15deg-4x3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;
    padding: 1em;
  }
}

.cta {
  background-image: url(/images/home.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
  text-align: center;
  margin: 4em auto;
  padding: 10em 0;

  button {
    color: $white;
    background-color: #f48847;
    border: none;
    display: block;
    margin: 3em auto 7em;
    padding: 1em 2em;
    font-weight: 600;
    width: 155px;
    word-wrap: none;
  }

  input {
    padding: 1em 3em;
    margin: 2em 0 0;
    border: none;
    outline: none;
  }

  input:focus {
    border: 5px solid $orange;
  }

  ::placeholder {
    color: $light-grey;
    letter-spacing: 4px;
  }
}

footer {
  margin: 0 auto;
  text-align: center;
  height: 40vh;

  .socials {
    margin: 2em 0;
  }

  .made {
    margin: 1em 0;
    color: $greenish;
    letter-spacing: 3px;
  }

  .footer_links {
    margin: 0 auto;
  }
}

// Bigger devices

@media (min-width: 756px) {
  .home_bg {
    height: 72vh;
  }

  .mob_menu {
    display: none;
  }

  .desk_menu {
    @include content-wrapper();
    display: flex;
    justify-content: space-between;
    padding: 3em;
    .logo {
      font-size: $fs-600;
    }
    .menu_container {
      display: flex;

      .menulist,
      .menu_socials {
        @include flex();
        align-items: center;
        letter-spacing: $letter-spacing-3;
        a {
          white-space: no-wrap;
        }
      }

      a:nth-child(4) {
        margin-right: 2em;
      }
    }
  }

  .page-section {
    margin-bottom: -15em;
    h1.hero {
      font-size: $fs-650;
      width: 50%;
    }
  }

  .intro_gallery {
    display: flex;
    gap: 2em;
    padding: 12em;
  }

  .art_img {
    height: 640px;
    width: 600px;
  }

  .collection_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1em;
  }

  footer {
    justify-content: space-around;
    @include flex();
    height: 20vh;
    .socials {
      margin: 1em 0;
      @include flex;
    }
  }
}

@media (min-width: 1920px) {
  .intro_gallery {
    display: flex;
    gap: 5em;
    padding: 5em 0;
    margin: 0 0 5em;
  }

  .art_img {
    height: 710px;
    width: 800px;
  }
}

// Over ons pagina

.about_title {
  padding: 2em;
}

.about_text {
  @include content-wrapper();
  margin: 0 0 2em;
}

.about_img {
  margin: 3em auto;
}

@media (min-width: 756px) {
  main {
    @include container();
    .about_title {
      font-size: $fs-650;
    }
    .about_text {
      text-align: left;
      margin: 0 auto;
      max-width: 650px;
    }
  }
}

// contact pagina

.contact_title {
  font-size: $fs-600;
  margin: 2em;
}

.contact_text {
  @include container();
  margin: 2em 0 2em;
}

textarea {
  height: 100px;
  margin: 1em;
  width: 300px;
}

textarea:focus {
  outline: none;
  border: 3px solid $orange;
}

input[type="text"],
select {
  width: 70%;
  padding: 12px 20px;
  margin: 1em auto;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input#email {
  width: 70%;
}

input#email:focus {
  outline: none;
  border: $orange;
}

input[type="submit"] {
  width: 50%;
  background-color: $orange;
  color: white;
  display: block;
  padding: 14px 20px;
  margin: 1em auto 3em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: $letter-spacing-2;
}

input[type="submit"]:hover {
  background-color: $active-orange;
}

@media (min-width: 756px) {
  .contact_container {
    display: flex;
    .text_container {
      text-align: left;
      width: 50%;
      .contact_title {
        text-align: center;
      }
    }

    form {
      margin: 5.5em 0 0 8em;
    }

    input[type="text"],
    select {
      width: 100%;
      padding: 12px 20px;
      margin: 1em auto;
      display: block;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    input#email {
      width: 100%;
    }

    textarea {
      margin: 0 auto;
      width: 100%;
    }
  }
}

// Winkel pagina

.shop_title {
  font-size: 2.5rem;
  margin: 2em 0 2em;
}

.container {
  @include content-wrapper();
  img {
    margin: 1em 0 1em;
  }
}

@media (min-width: 765px) and (max-width: 999px) {
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 1em;
  }
}

@media (min-width: 1000px) {
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 1em;
  }
}

// locatie pagina

.location_box {
  margin: 1em 0 2em;
}

.location_img-1,
.location_img-2,
.location_img-3 {
  @include content-wrapper();
}

.location_container {
  display: grid;
  gap: 2em;
}

@media (min-width: 765px) {
  .location_container {
    margin: 5em 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
}
