.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.container {
  padding: 0 2em;
  max-width: 80rem;
  margin: 0 auto;
}

.grid-container {
  display: grid;
  grid-template-columns: 2em minmax(0, 40rem) minmax(0, 40rem) 2em;
}
