@import url("https://fonts.googleapis.com/css2?family=Alata&family=Bai+Jamjuree:wght@300;400;600&family=Nunito+Sans:wght@300;400;700&display=swap");

@use "utility";
@use "typography";

body {
  background: var(--black);
  font-family: var(--serif-2);
  line-height: 1.6;
  min-height: 100vh;
}
