@import url("https://fonts.googleapis.com/css2?family=Alata&family=Bai+Jamjuree:wght@300;400;600&family=Nunito+Sans:wght@300;400;700&display=swap");

:root {
  --accent: #f48847;
  --light-accent: #e9ceb0;
  --black: hsl(0 100% 0);
  --dark-accent: #282d30;
  --white: hsl(0 100% 100%);
}
